@model LarastruckingApp.ViewModel.PreTrip.PreTripViewModel


<table id="tblFreightDetails" class="table-bordered dataTable table-striped cf w-100 dataTable  activateDatatable">
    <thead>
        <tr>
            <th width="10"> </th>
            <th width="15"> No </th>
            <th> Commodity </th>
            <th> Freight </th>
            <th> Pricing </th>
            <th> Qty./WT. </th>
        </tr>
    </thead>
    <tbody>

        @if (Model.ShipmentFreightList.Count > 0)
        {
            foreach (var item in Model.ShipmentFreightList)
            {
                <tr>

                    <td><input type="radio" name="radiofreightId" id="radiofreightId" onchange="GetTemperatureREQ(this)" value=@item.ShipmentBaseFreightDetailId /></td>

                    <td><label name='lblSrNo'>@item.ShipmentBaseFreightDetailId</label></td>

                    <td>
                        <label class='lblTemperatureRequired' name='lblTemperatureRequired' style='display:none'>@item.TemperatureRequired</label>
                        <label name='lblCommodityText'>@item.Commodity</label>
                    </td>

                    <td><label name='lblFreightTypeName'>@item.FreightTypeName</label></td>

                    <td><label name='lblPricingMethodName'>@item.PricingMethodName</label></td>

                    <td><label name='lblQuantityNweight'>@item.QuantityNweight</label></td>

                </tr>

            }
        }
    </tbody>
</table>